.sidebar {
  width: 50%;
  flex: 3;
  margin: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebarWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebarList {
  font-size: 30px;
  padding: 0;
  margin: 0px;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
